.atoka-div {
    border: 1px solid red !important;
    position: absolute;
    width: 400px;
    height: 400px;
    background: white;
    right: 10px;
    top: 10px;
    z-index: 9999;
}

span.highlight {
    background-color: #FFFF88 !important;
    padding: 0 !important;
    margin: 0 !important;
}