.atoka-div {
    border: 1px solid #cfd0a4 !important;
    position: absolute !important;
    width: 400px !important;
    height: 400px !important;
    background: white !important;
    right: 10px !important;
    top: 10px !important;
    z-index: 9999 !important;
    text-align: left !important;
    font-size: 14px !important;
    padding: 10px !important;
    color: #777777 !important;
    line-height: 1.5 !important;
    font-family: "Arial", Arial, sans-serif !important;
}

span.highlight {
    background-color: #FFFF88 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.atoka-div .atoka-href {
    font-family: "Arial", Arial, sans-serif !important;
}

.atoka-div .title {
    font-size: 20px !important;
    font-family: "Arial", Arial, sans-serif !important;
    margin: 0 !important;
    color: #858cff !important;
}

.atoka-div .small {
    font-size: 12px !important;
    font-family: "Arial", Arial, sans-serif !important;
    margin: 0 !important;
    color: #858cff !important;
}

.atoka-div ul {
    padding-left: 30px !important;
    font-size: 100% !important;
    vertical-align: baseline !important;
    background: transparent !important;
    display: block !important;
    list-style-type: disc !important;
    font-family: "Arial", Arial, sans-serif !important;
}