.atoka-div {
    border: 1px solid red !important;
    position: absolute !important;
    width: 400px !important;
    height: 400px !important;
    background: white !important;
    right: 10px !important;
    top: 10px !important;
    z-index: 9999 !important;
    text-align: left !important;
}

span.highlight {
    background-color: #FFFF88 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.atoka-div .atoka-href {
    font-family: "Arial", Arial, serif !important;
}

.atoka-div .title {
    font-size: 20px !important;
    font-family: "Arial", Arial, sans-serif;
    margin: 0 !important;
    color: #FFCC00 !important;
}